.product-image{
    max-width: 300px;
    max-height: 300px;
}

.product-added {
    color: #FFF;
    background-color: rgba(2, 98, 2, 0.869);
    padding: 10px;
    border-radius: 50%;
    border: none;
    margin: 15px;
}

.product-removed {
    color: #FFF;
    background-color: orange;
    padding: 10px;
    border-radius: 50%;
    border: none;
    margin: 15px;
}

.product-add:hover, .product-remove:hover {
    cursor: pointer;
}