.item{
    position: relative;
    width: 100%;
    background-color: rgb(20, 97, 107);
    box-shadow: 2px 2px 6px 4px #222222;
    padding: 16px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.item-name{
    float: left;
}

.item-price{
    display: inline-block;
    margin-right: 15px;
}

.item-name:hover {
    color: #ccc;
}

.item-buttons{
    float: right;
}

.item-add {
    color: #FFF;
    background-color: green;
    padding: 10px;
    border-radius: 50%;
    border: none;
    margin: 5px;
}

.item-remove {
    color: #FFF;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    border: none;
}

.item-add:hover, .item-remove:hover {
    cursor: pointer;
}