.items{
    position: relative;
    max-width: 100%;
    box-shadow: inset 0 0 15px rgba(43, 121, 106, 0.7), 0 0 4px 2px rgba(70, 70, 70, .7);
    padding: 24px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.item-link {
    color: inherit;
    display: flex;
    align-items: center;
}

.item-name{
    float: left;
    margin-left: 24px;
}

.item-name:hover {
    color: #ccc;
}

.item-buttons {
    float: right;
}

.item-image {
    max-width: 14rem;
    max-height: 14rem;
}

.item-add {
    color: #0F0;
    border: 1px solid #0F0;
    border-radius: 50%;
    padding-bottom: 4px;
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-add:hover {
    color: #222;
    background-color: #0F0;

}

.item-remove {
    color: #F00;
    border: 1px solid #F00;
    border-radius: 50%;
    padding-bottom: 4px;
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-remove:hover {
    color: #222;
    background-color: #F00;

}

.item-add:hover, .item-remove:hover {
    cursor: pointer;
}

.item-hs {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quantity-buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.item-image-wrapper {
    display: flex;
    border-radius: 10%;
    margin: 4px;
    justify-content: center;
    align-items: center;
    background-color: rgba(77,77,77,0.1);
    width: 12rem;
    flex-direction: column;
}