.product-image{
    max-width: 300px;
    max-height: 300px;
}

.product-add {
    color: #FFF;
    background-color: green;
    padding: 10px;
    border-radius: 50%;
    border: none;
    margin: 15px;
}

.product-remove {
    color: #FFF;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    border: none;
    margin: 15px;
}

.product-add:hover, .product-remove:hover {
    cursor: pointer;
}